header {
  background-color: #e8b06a;
  display: flex;
  /* width: 100%; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

header .menuBar {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}
header .menuBar nav ul {
  /* border: 1px solid blue; */
  list-style: none;
  display: flex;
  flex-direction: row;
}
header .menuBar nav ul li {
  padding: 0 21px;
  margin: 0 65px;
}
header .menuBar nav ul li:hover {
  color: #efd040;
  cursor: pointer;
}
header .logo {
  padding-left: 78px;
}

header .logo img {
  width: 94px;
  height: 76px;
}
header .faleConosco {
  padding-right: 79px;
}
header .faleConosco h1 {
  font-size: 18px;
  background-color: #f2edd5;
  padding: 14px 15px;
  border-radius: 10px;
  cursor: pointer;
}
