header {
  background-color: #e8b06a;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

header .menuBar {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  width: 100%;
  padding: 0 20px;
}
header .menuBar nav ul {
  /* border: 1px solid blue; */
  list-style: none;
  display: flex;
  flex-direction: row;
}
header .menuBar nav ul li {
  /* padding: 0 21px; */
  margin: 0 65px;
}
header .menuBar nav ul li:hover {
  color: #efd040;
  cursor: pointer;
}

header .logo img {
  width: 94px;
  height: 76px;
}
header .faleConoscoHeader h1 {
  font-size: 18px;
  background-color: #f2edd5;
  padding: 14px 15px;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 905px) {
  header .menuBar {
    padding: 0;
  }
  header .menuBar img {
    display: none;
  }
  header .menuBar nav {
    width: 100%;
    justify-content: space-around;
  }
  header .menuBar nav ul {
    justify-content: space-around;
  }
  header .menuBar nav ul li {
    margin: 0;
  }
  header .faleConoscoHeader {
    display: none;
  }
}
